doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="format-detection", content="telephone=no, address=no, email=no")
        meta(name="referrer" content="strict-origin")

        block title
            - var page
        - var title = `${page} - 1stOn`
        meta(name="title", content=title)
        meta(name="description", content=`개인이 만들어가는 자유로운 세상`)
        meta(name="keywords", content="ton, 톤, 블록체인, blockchain")

        meta(property="og:title" content= title)
        meta(property="og:url" content="https://firstonwallet.com")
        meta(property="og:description" content=`개인이 만들어가는 자유로운 세상`)
        meta(property="og:image" content="/assets/images/tons/android-icon-512x512.png")
        meta(property="og:type" content="website")
        
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="white")
        meta(name="apple-mobile-web-app-title" content= title)
        link(rel='apple-touch-icon' sizes="57x57" href="/assets/images/tons/apple-icon-57x57.png")
        link(rel='apple-touch-icon' sizes="60x60" href="/assets/images/tons/apple-icon-60x60.png")
        link(rel='apple-touch-icon' sizes="72x72" href="/assets/images/tons/apple-icon-72x72.png")
        link(rel='apple-touch-icon' sizes="76x76" href="/assets/images/tons/apple-icon-76x76.png")
        link(rel='apple-touch-icon' sizes="114x114" href="/assets/images/tons/apple-icon-114x114.png")
        link(rel='apple-touch-icon' sizes="120x120" href="/assets/images/tons/apple-icon-120x120.png")
        link(rel='apple-touch-icon' sizes="144x144" href="/assets/images/tons/apple-icon-144x144.png")
        link(rel='apple-touch-icon' sizes="152x152" href="/assets/images/tons/apple-icon-152x152.png")
        link(rel='apple-touch-icon' sizes="180x180" href="/assets/images/tons/apple-icon-180x180.png")

        meta(name="mobile-web-app-capable" content="yes")
        link(rel="icon" type="image/png" sizes="192x192"  href="/assets/images/tons/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/assets/images/tons/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/assets/images/tons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/assets/images/tons/favicon-16x16.png")
        link(rel="shortcut icon" href="/assets/images/tons/favicon.ico")

        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/assets/images/tons/ms-icon-70x70.png")
        meta(name="msapplication-TileImage" content="/assets/images/tons/ms-icon-144x144.png")
        meta(name="msapplication-TileImage" content="/assets/images/tons/ms-icon-150x150.png")
        meta(name="msapplication-TileImage" content="/assets/images/tons/ms-icon-310x310.png")

        link(rel="manifest", href="/manifest.json")
        meta(name="theme-color" content="#ffffff")

        title= title
        link(rel="stylesheet", href="/css/main.css")
        link(rel="preload" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap" as="font" crossorigin="crossorigin")
        link(href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css')
        
        block addCDN

        script(src="https://polyfill.io/v3/polyfill.min.js?features=es5,es6,es7&flags=gated" async defer) 
        script(src="/js/app.js" defer)

    body#body


        include layout/header

        main#swup
            block main

        a(href="#swup" data-no-swup).top-btn
        include layout/footer
        //- // 출금하기 페이지에서 send 클래스를 스테이킹 참여페이지에서 staking 클래스를 붙여준다.
        .loading-cover
            .wrapper
                //- .loading-pulse
                .triangles
                    .tri.invert
                    .tri.invert
                    .tri
                    .tri.invert
                    .tri.invert
                    .tri
                    .tri.invert
                    .tri
                    .tri.invert
                p.comment.sending 송금 중입니다
                //- p.comment.staking 신청 중입니다
                h2 송금이 완료되었습니다
        block bodyScript